<!-- Contaxt Content -->
<!-- <a target="_blank" href='manthan-bhikadiya.medium.com'><img
    <!-- src="https://cdn4.iconfinder.com/data/icons/social-media-2210/24/Medium-512.png" height="44"
    width="44"></a> : manthan-bhikadiya<br><br>
<a target="_blank" href='https://github.com/manthan89-py'><img
    src="https://image.flaticon.com/icons/png/512/25/25231.png" height="40" width="40"></a> :
manthan89-py<br><br>
<a target="_blank" href='https://www.linkedin.com/in/manthanbhikadiya'><img
    src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40"></a> :
    manthanbhikadiya<br> -->

<!-- From home.html -->
<!-- {% extends 'base.html' %}
{% block pagetitle %}
Plant Disease Detection
{% endblock pagetitle %}
{% block body %}
<style>
  body{
    overflow-x: hidden;
  }
  @media only screen and (max-width: 830px) {
    .laptop{
      display: none;
    }
  }
  @media (min-width:830px) and (max-width: 1536px){
    .mobile{
      display: none;
    }
  }

  .bg {
    background-image: url("../static/uploads/images/image.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  html {
    scroll-behavior: smooth;
  }

  /* About section styling */
  .about-section {
    padding: 50px;
    background-color: #f7f7f7;
    color: #333;
    display: none; /* Initially hidden */
    margin-top: 50px;
  }
  .about-header {
    font-weight: 400;
    color: rgb(4, 54, 4);
  }

  .about-content {
    font-weight: 500;
    color: black;
  } -->

<!-- </style> -->
<!-- <div class='bg'>
  <div class="row mb-5 text-center text-white">
    <div class="col-lg-10 mx-auto">
      <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color:red;"><b>Note✍🏻</b></h1>
      <p class="lead" style="font-weight: 500;color: black;">Please🙏 Open This Site On Laptop/PC 💻 Screen Only</p>
      <p class="lead" style="font-weight: 500;color: black;">Thank You 🤝</p>    
    </div>
</div>
</div> -->
<!-- 
<div class="bg">
  <div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
      <h1 class="display-4" style="padding-top: 2%; font-weight: 400; color: white;">
        <b>Plant Disease Detection And Monitoring System</b>
      </h1>
      <p class="lead" style="font-weight: 500; color: white;">
        This AI Engine Will Help To Detect Disease From Various Fruits and Veggies
      </p>
    </div>
  </div> -->

<!-- <div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>🍁Plant Disease
                Detection🍁 </b></h1>
        <p class="lead" style="font-weight: 500;color: black;">This AI Engine Will Help To Detect Disease From Following Fruites And Veggies</p>
    </div>
</div> -->

<!-- <center class="laptop">
    <a href="/login">
    <button class = "bttn-pill bttn-lg btn-success"><b style="color: black;">AI Engine</b></button>
</a>
</center>
<div class="row p-5 laptop">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">
          <img src="https://post.healthline.com/wp-content/uploads/2020/09/Do_Apples_Affect_Diabetes_and_Blood_Sugar_Levels-732x549-thumbnail-1-732x549.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Apple</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://www.supermarketperimeter.com/ext/resources/0430-blueberries.png?t=1588260305&width=1080" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Blueberry</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/slideshows/health_benefits_of_cherries_slideshow/1800x1200_health_benefits_of_cherries_slideshow.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Cherry</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://www.mayoclinichealthsystem.org/-/media/national-files/images/hometown-health/2018/corn.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Corn</p></center>
        </div>
    </div>
</div>

<div class="row p-5 laptop">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">
          <img src="https://i.ndtvimg.com/i/2015-09/grapes_625x350_61443376353.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Grape</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://www.irishtimes.com/polopoly_fs/1.3923226.1560339148!/image/image.jpg_gen/derivatives/ratio_1x1_w1200/image.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Orange</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/articles/health_tools/the_health_benefits_of_peaches_slideshow/thinkstock_rf_peaches.jpg?resize=650px:*" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Peach</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://snaped.fns.usda.gov/sites/default/files/styles/crop_ratio_7_5/public/seasonal-produce/2018-05/bell%20peppers.jpg?h=9f30bee3&itok=PKmzyeNv" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Pepper Bell</p></center>
        </div>
    </div>
</div>


<div class="row p-5 laptop">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">
          <img src="https://m.economictimes.com/thumb/height-450,width-600,imgsize-111140,msid-72862126/potato-getty.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Potato</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://i0.wp.com/cdn-prod.medicalnewstoday.com/content/images/articles/326/326272/raspberries-with-ketones-in-a-bowl.jpg?w=1155&h=1541" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Raspberry</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://m.economictimes.com/thumb/msid-66988154,width-1200,height-900,resizemode-4,imgsize-211276/soyabean-agencies.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Soybean</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://post.healthline.com/wp-content/uploads/2020/08/squash-fruit-or-vegetable-732x549-thumbnail-732x549.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Squash</p></center>
        </div>
    </div>
</div>

<center class="laptop">
<div class="row p-5">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 45%;height: 92%;">
          <img src="https://images.indianexpress.com/2020/02/strawberry-1200.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Strawberry</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 45%;height: 92%;">

          <img src="https://images-prod.healthline.com/hlcmsresource/images/AN_images/tomatoes-1296x728-feature.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Tomato</p></center>
        </div>
    </div>
</div>
</center>

{% endblock body %} -->
<!-- Home.html end -->


<!-- Index.html -->
 <!-- <html> -->
<!-- {% extends 'base.html' %} -->
<!-- {% block pagetitle %}
AI Engine
{% endblock pagetitle %}

{% block body %} -->

<!-- {% block pagetitle %}
index
{% endblock pagetitle %}
{% block body %} -->
<!-- {% if user.is_authenticated %} -->
<html>
  {% extends 'base.html' %}
  {% block pagetitle %}
  AI Engine
  {% endblock pagetitle %}
  
  {% block body %}
<div>
  <div class="container">
      <!-- For demo purpose -->
      <div class="row mb-5 text-center text-white">
          <div class="col-lg-10 mx-auto">
              <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>🍀AI Engine🍀</b></h1>
              <p class="lead" style="font-weight: 500;color: black;">Let AI Engine Will Help You To Detect Disease</p>
          </div>
      </div>
      <!-- End -->
      <div class="row ">
          <div class="col mx-auto">
              <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
                  <h5><b>Why is it necessary to detect disease in plant ?</b></h5>
                  <p>Plant diseases affect the growth of their respective species. In addition, some research gaps are
                      identified from which to obtain greater transparency for detecting diseases in plants, even
                      before their symptoms appear clearly.
                      diagnosis is one of the most important aspects of a plant pathologist's training. Without proper
                      identification of the disease and the disease-causing agent, disease control measures can be a
                      waste of time and money and can lead to further plant losses. Proper disease diagnosis is
                      necessary.
                  </p>
              </div>
          </div>
          <div class="col mx-auto">
              <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
                  <img src="/static/uploads/img.jpg" height="300" alt="" width="200" class="d-block mx-auto mb-4 rounded-pill">
                      <P>
                          We are Glade to help you in this file Processing 
                      </P>
                  <!-- Default bootstrap file upload-->

                  <form action="/submit" method="POST" enctype="multipart/form-data">
                      <div class="custom-file overflow-hidden mb-4">
                          <input type="file" id="actual-btn" hidden name="image" />
                          <label for="actual-btn">Choose File</label>
                          <span id="file-chosen">No file chosen</span>
                      </div>

                      <!-- End -->

                      <h6 class="text-center mb-4 text-muted">
                          Simply upload your plant's leaf image and then see the magic of AI.
                      </h6>

                      <!-- Custom bootstrap upload file-->
                      <center>
                          <a class="mx-2"><button type="submit" class="btn btn-outline-success">Submit</button></a>
                      </center>
                  </form>
                  <!-- End -->

              </div>
          </div>
          <div class="col mx-auto">
              <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
                  <h5><b>Prevent Plant Disease follow below steps:</b></h5>
                  <ol>
                      <li>Follow Good Sanitation Practices.</li>
                      <li>Fertilize to Keep Your Plants Healthy.</li>
                      <li>Inspect Plants for Diseases Before You Bring Them Home.</li>
                      <li>Allow the Soil to Warm Before Planting.</li>
                      <li>Ensure a Healthy Vegetable Garden By Rotating Crops.</li>
                      <li>Provide Good Air Circulation</li>
                      <li>Remove Diseased Stems and Foliage</li>
                  </ol>
                  <a target="_blank" href="https://www.thespruce.com/prevent-plant-diseases-in-your-garden-2539511"
                      class="mx-2"><button type="button" class="btn btn-outline-success">More info</button></a>
              </div>
          </div>
      </div>
  </div>
</div>

<script>
  const actualBtn = document.getElementById('actual-btn');

  const fileChosen = document.getElementById('file-chosen');

  actualBtn.addEventListener('change', function () {
      fileChosen.textContent = this.files[0].name
  })
</script>

{% endblock body %}
<!-- {% endblock body %} -->
 <!-- index.html end -->
  <!-- Contact us -->
   <!-- {% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %} -->

<!-- <div class="row mb-5 text-center text-white laptop"> -->
    <!-- <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        
        
    
            <center>
                <div class=" p-5 bg-white shadow rounded-lg" style="height: 95% ;width:50%; ">
                
                <h3>Plant Diseases Detection And Monitoring System</h3>
                <p class="lead" style="font-weight: 350;">Hi, we , Currently Pursuing Bachelors in
                    Computer Science .Our  Focus is on Machine Learning, Deep Learning and Artificial Intelligence.</p>
           
            <div>
                <h5>Social Media Handles :</h5><br>
                <img src="static/uploads/images/contactlogo.png" height="40" width="40"></a> :
                rohanchikorde36@gamil.com<br><br>
               <img src="static/uploads/images/contactlogo.png" height="44" width="44"></a> : shubhamgodse@gmail.com<br><br>
                <a target="_blank" href='https://github.com/manthan89-py'><img
                        src="static/uploads/images/contactlogo.png" height="40" width="40"></a> :
                abhishekshelke@gamil.com<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/manthanbhikadiya'><img
                        src="static/uploads/images/contactlogo.png" height="40" width="40"></a> :
                irfanhussian@gmail.com<br>
            </center>
            </div>
        </div>
    </div>

    
                
    
    
    </div>
</div> -->

<!--  -->
   <!-- Contact us end -->]




   <!-- smcmnc -->
   {% block pagetitle %}
   Dashboard
   {% endblock pagetitle %}
   
   {% block body %}
    <!-- mczn -->