<!-- {% extends "dashboard.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="content">
    <div class="sensor-section">
      <div class="gauge-container">
        <div class="gauge">
          <h4>Temperature</h4>
          <canvas id="temperatureGauge"></canvas>
          <p id="temperatureValue">--°C</p>
        </div>
      </div>
      <div class="gauge-container">
        <div class="gauge">
          <h4>Humidity</h4>
          <canvas id="humidityGauge"></canvas>
          <p id="humidityValue">--%</p>
        </div>
      </div>
      <div class="gauge-container">
        <div class="gauge">
          <h4>Soil Moisture</h4>
          <canvas id="moistureGauge"></canvas>
          <p id="moistureValue">--%</p>
        </div>
      </div>
    </div>
    
    <h3>Historical Charts</h3>
<div class="chart-container">
  <div class="chart-item">
    <h3>Temperature</h3>
    <canvas id="temperatureChart"></canvas>
  </div>
  <div class="chart-item">
    <h3>Humidity</h3>
    <canvas id="humidityChart"></canvas>
  </div>
  <div class="chart-item">
    <h3>Moisture</h3>
    <canvas id="moistureChart"></canvas>
  </div>
</div>


    <div class="pump-control">
      <button id="pumpButton" onclick="togglePump()">Turn Pump On</button>
    </div>
  </div>
</div>

{% endblock %} -->
